main {
    display: flex;
}

h2, h3 {
    text-align: center;
}

button {
    margin: 0.2rem;
}

.overtop {
    flex: 1;
    padding: 1rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    border: 3px solid #000;
}

.first {
    padding: 1rem;
    border: 3px solid #000;
}

.second {
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 3px solid #000;
}

.third {
    padding: 0.5rem;
    border: 1px solid #000;
}

.fourth {
    display: flex;
    border: 1px solid #000;
}
.fourth>div {
    flex: 1;
}
.fourth>div>p {
    padding: 0.2rem;
    border: 1px solid #000;
}

.categories {
    flex: 0.3;
}

.runes {
    flex: 0.5;
}

.sockets {
    flex: 0.2;
}

.rune-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}